* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

body {
  padding: 0px;
  margin: 0;
  background: white;
}
body .calculator-grid {
  display: grid;
  background-color: black;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  min-width: 20vw;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(6, 80px);
}
body .calculator-grid .output {
  grid-column: 1/-1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}
body .calculator-grid .output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}
body .calculator-grid .output .current-operand {
  color: white;
  font-size: 2.5rem;
}
body .calculator-grid button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid black;
  outline: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.336);
  margin: 2px;
}
body .calculator-grid button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
body .calculator-grid .span-two {
  grid-column: span 2;
}
body .calculator-grid .grey {
  background-color: grey;
}
body .calculator-grid .orange {
  background-color: orange;
}